div.card{
    font-family: Inter;
    text-align: center;
    align-content: center;
    background: white;

}

div.card>img.profilePhoto{
    margin: 1em 0 0 0;
    max-height: 20%;
    max-width: 20%;
    align-content: center;
    border: 2px solid black;
    border-radius: 50%;
}
section.profile{
    margin: 5em 2em 2em 2em;
    height: 100%;
}