img{
    max-width: 100%;
    max-height: 20%;
}

img#user-photo
{
    max-width: 20%;
}
main{
    background: transparent linear-gradient(180deg, #2f61ce, #000000 65%) 0% 0% no-repeat padding-box;
}
div.informations
{
    font-family: Inter;
    background-color:white;
    text-align: center;
    align-content: center;
    margin: 2em 2em 2em 2em;
}

@media only screen and (max-device-width:420px){
    #changePassword{
        width: 50%;
    }
    form>input
    {
        width: 60%;
    }
}